@import "/src/styles/variables.scss";


.login_img{
  width: 100%;
  height: 100%;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
}
.auth_content{
      box-shadow: 1px 3px  5px $sombra;

}
.auth-form{
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: aqua;
  height: 100%;
  form{
    width: 80%;
  }
}
.login-form-margin {
  margin-bottom: 16px;
}

.login-form-button{
  background: $primary;
  width: 100%;
  border: none;
  margin-top: 10px;
}
.title_login{
  color: $primary;
  text-align: center;
  // padding: 10px;
}
@media screen and (max-width:500px) {
 .login_img{
  display: none !important;
 }
  .auth_content{
    // margin-top: -40px;
    display: block;
    width: 100%;
    height: 100%;
  }
  .auth_content_form{
    width: 100% !important;
    height: 100%;
  }
  .auth-form{
    width: 100% !important;
    height: 100% !important;
// margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .ant-col-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 100%;
}
}
