<div class="header-content">
  <div class="header-item">
    <div class="header-item-logo" >
      <div class="header-item-icon">
        <svg-icon src="../../../../../assets/icons/logoCMWhiteCompleto2.svg" [applyClass]="true"  >
        </svg-icon>
      </div>
      <!-- <div class="header-item-title"> -->
        <!-- <span> CountMaster</span> -->
      <!-- </div> -->
    </div>
    <div class="logout" *ngIf="sesion" (click)="logout()">
      <span nz-icon nzType="logout" nzTheme="outline" style="margin-right: 10px;"></span> Salir
    </div>
  </div>
</div>

