// $secundary: rgb(229, 229, 229);
$secundary:#f0f2f5;
// $terciary:#ffa900;


$sombra:rgba($color: #000000, $alpha: 0.3);

$header:#028ba2 ;
$primary: #028ba2;
$primary-shadow: #028aa25c;

$primary-ligth:#028aa2db;

$primary-ligth2:#3de1fd;
$primary-fondo: transparent linear-gradient(180deg, #028ba2 0%, #015564 100%) 0% 0% no-repeat padding-box;
$button-primary2:#028ba2;
$button-primary-light:#028ba2;


// $primary: #ff7300;
// $primary-ligth:#ff730088;
// $header:#ff7300 ;
// $primary-fondo: transparent linear-gradient(180deg, #ff7300 0%, #cd5d01 100%) 0% 0% no-repeat padding-box;
// $button-primary:#ffa900;
// $button-primary-light:#ffb744;


// $primary:rgba(2, 139, 162,0.8);

// $primary-sub:rgb(2, 139, 162) ;


$primary-light-color2:#0288a0;
$primary-light-color3:#0488a0;
// $primary-light-color4:#6aa8b3;
$primary-light-color4:#fdfdfd4d;
// $primary-light-color4:#c24731;
// $primary-light-color5:#a6c5c8;
$primary-light-color5:rgba(0, 0, 0, 0.035);
$primary-light-color6:#dfe1e1;

$button-primary:#ffa900;
$button-primary-light2:#ffaa00f3;

// $button-primary-light:#ffb744;
