<div class="card-auth">
  <div class="header-card">
    <div class="header-title">
      <span style="color: white;">Restablecer contraseña</span>
    </div>
    <div class="header-content">
      <svg-icon src="../../../../../assets/icons/logo.svg" [applyClass]="true"  [svgStyle]="{'width.px':60,'fill':'#fff'}">
      </svg-icon>
      <span style="color: white;">Restaurante</span>
    </div>
  </div>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <label >Ingrese su nueva contraseña.</label>

    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="9" nzRequired>Contraseña</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="Please input your password!">
        <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="9" nzRequired>Confirmar Contraseña</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

</form>

</div>
