@import '/src/styles/variables.scss';
.container{
  // overflow:scroll;
  height: 100%;
  padding: 10px;
  // background-color: white;
}
.content{

  // margin-top: 0px;

  // padding: 0 20px;
}
nz-form-label::ng-deep{
  padding: 0 !important;
}
nz-form-item::ng-deep{
  margin: 0 !important;
}
.new_compra{
  button{
    background: $primary;
    border: none;

    // box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.5);
  }
}

nz-form-label{
  text-align: left !important;
}
// @media screen and (max-height: 735px ) {
//   .content-datatable{
//       table{
//         overflow-x: scroll !important;
//       }
//   }
// }
