<div class="container">
  <div class="hero">


   <div class="slider1" @enterState>
      <div class="slider-content" >


        <div class="element" style="--i:1;" >
          <div class="element-img">
           <img
          nz-image
          nzSrc="../../../../assets/images/plato.png"
          alt=""
          />
        </div>
        </div>
          <div class="element"  style="--i:2;" >
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato1.png"
              alt=""
              />
            </div>
          </div>
          <div class="element"  style="--i:3;">
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato2.png"
              alt=""
              />
            </div>
          </div>
          <div class="element e1"  style="--i:4;">
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato.png"
              alt=""
              />
            </div>
          </div>
          <div class="element e2" style="--i:5;" >
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato1.png"
              alt=""
              />
            </div>
          </div>
        <div class='element' style="--i:6;" >
          <div class="element-img">
            <img

            nz-image
            nzSrc="../../../../assets/images/plato2.png"
            alt=""
            />
          </div>
        </div>
      <div class='element' style="--i:7;" >
        <div class="element-img">
          <img

          nz-image
          nzSrc="../../../../assets/images/plato.png"
          alt=""
          />
        </div>
      </div>
      <div class='element' style="--i:8;" >
        <div class="element-img">
          <img

          nz-image
          nzSrc="../../../../assets/images/plato1.png"
          alt=""
          />
        </div>
      </div>
      </div>

      </div>
   <div class="hero-content" @states>
     <div  class="hero-info hero-info-new"  >
      <h3  >Disfruta la variedad en el menu
      </h3>
      <a href="" >
        Ir a producto
      </a>
     </div>
    </div>
    <div class="slider" @enterState2>
      <div class="slider-content">


        <div class="element" style="--i:1;" >
          <div class="element-img">
          <img
          nz-image
          nzSrc="../../../../assets/images/plato.png"
          alt=""
          />
        </div>
        </div>
          <div class="element"  style="--i:2;" >
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato1.png"
              alt=""
              />
            </div>
          </div>
          <div class="element"  style="--i:3;">
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato2.png"
              alt=""
              />
            </div>
          </div>
          <div class="element"  style="--i:4;">
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato.png"
              alt=""
              />
            </div>
          </div>
          <div class="element" style="--i:5;" >
            <div class="element-img">
              <img
              nz-image
              nzSrc="../../../../assets/images/plato1.png"
              alt=""
              />
            </div>
          </div>
        <div class='element' style="--i:6;" >
          <div class="element-img">
            <img

            nz-image
            nzSrc="../../../../assets/images/plato2.png"
            alt=""
            />
          </div>
        </div>
      <div class='element' style="--i:7;" >
        <div class="element-img">
          <img

          nz-image
          nzSrc="../../../../assets/images/plato.png"
          alt=""
          />
        </div>
      </div>
      <div class='element' style="--i:8;" >
        <div class="element-img">
          <img

          nz-image
          nzSrc="../../../../assets/images/plato1.png"
          alt=""
          />
        </div>
      </div>
      </div>

      </div>

  </div>
    <section class="section">
      Productos
      <div  class="container-section">




  </div>
    <div class="mas-info">
     <button class="btn-primary">ver mas</button>
    </div>
  </section>
  <section class="section">
    Productos
    <div  class="container-section">


</div>
  <div class="mas-info">
   <button class="btn-primary">ver mas</button>
  </div>
</section>
  <div class="hero-informacion">
    <div class="hero-content1">

    </div>
  </div>
  <div class="content-slider">
    <div class="slider-info">

    </div>
  </div>
  <section class="section">
    Productos
    <div  class="container-section">



</div>
  <div class="mas-info">
   <button class="btn-primary">ver mas</button>
  </div>
</section>

